.container {
  width: 300px;
  height: 80px;
  background-color: var(--dark-color);
  color: var(--primary-color);
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  z-index: 5;
  position: absolute;
  top: 50px;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
