.container {
  width: 200px;
  height: 300px;
  background-color: transparent;
  perspective: 1000px;
  position: relative;
}

.containerFront,
.containerBack {
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.containerFront {
  border: var(--active-color) 1px solid;
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--dark-color);
  box-shadow: 0 0 10px var(--active-color);
}

.containerBack {
  transform: rotateY(-180deg);
  border: var(--active-color) 1px solid;
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--dark-color);
  box-shadow: 0 0 10px var(--active-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--primary-color);
  padding: 1rem;
}

.containerBack > div {
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 2px;
  line-height: 0.8rem;
}

.container:hover .containerFront {
  transform: rotateY(180deg);
}

.container:hover .containerBack {
  transform: rotateY(0deg);
}

.gameImage {
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.gameImage img {
  height: auto;
  width: 100%;
}

.platforms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  /* width: fit-content; */
  background: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
}

.gamePlatform {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
}

.gamePlatform img {
  display: block;
  height: 100%;
  width: auto;
  filter: invert(50%);
}

.cardBasement {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 7px 5px; */
  color: var(--primary-color);
  font-size: 0.8rem;
}

.stars {
  color: yellow;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.button {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  border: none;
  background: var(--active-color);
  color: var(--primary-color);
}

.button:hover {
  color: var(--dark-color);
}

.button:active {
  color: var(--primary-color);
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

/* Styles for modal */

.modal {
  text-align: center;
  max-width: 800px;
}

.modal button {
  margin: 15px 20px;
}

.modalContainer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 30px;
}

.modalImage p,
.modalGameInfo p {
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: 400;
}

.modalImage {
  width: 200px;
  height: 300px;
  padding: 10px 15px;
}

.modalImage img {
  width: 100%;
  height: auto;
}

.modalGameInfo {
  max-width: 400px;
  padding: 10px 15px;
}
