.container {
  width: 60vw;
  max-width: 800px;
  position: relative;
  margin: auto;
}

.searchBar {
  background-color: var(--dark-color-second);
  width: 100%;
  border: var(--primary-color) 1px solid;
  border-radius: 15px;
  padding: 0.8rem;
  display: block;
  margin: 0;
  color: var(--primary-color);
}

.results {
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  background-color: var(--dark-color);
  z-index: 1;
  padding: 0.8rem;
  margin: auto;
  color: var(--primary-color);
}
