.radioGroup {
  line-height: 5px;
}

.radioBtn {
  appearance: none;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--dark-color);
  transition: 0.2s all linear;
  vertical-align: middle;
}

.radioGroup label {
  line-height: 25px;
}

.radioBtn:checked {
  border: 6px solid var(--dark-color);
  background-color: var(--active-color);
}
