.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-color-second);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.closeBtn {
  position: relative;
  width: 40px;
  height: 40px;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.closeBtn:active {
  transform: scale(1);
}

.closeBtn::before,
.closeBtn::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  background-color: var(--disable-color);
  height: 7px;
  width: 100%;
  border-radius: 2px;
}

.closeBtn::after {
  transform: rotate(45deg);
}

.closeBtn::before {
  transform: rotate(-45deg);
}

.child {
  background-color: var(--dark-color);
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
