.loader {
  border: solid 10px var(--dark-color);
  border-top: solid 10px var(--active-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: spin 1.5s ease-in-out infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
