.homePage {
  background: var(--dark-color-second);
  min-height: 50vh;
  width: calc(100vw - (100vw - 100%));
  padding: var(--page-padding);
}

.gameCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
