.root {
  border: 1px solid var(--primary-color);
  width: 50%;
  padding: 5px 10px;
  position: relative;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  top: 100%;
  left: -5%;
  width: 110%;
  z-index: 2;
  font-style: italic;
}

.menu > * {
  padding: 0px 10px;
}

.menu > *:hover {
  color: var(--light-color);
  width: 100%;
}
