.modal {
  text-align: center;
  max-width: 800px;
}

.modal button {
  margin: 15px 20px;
}

.modal button:disabled {
  cursor: inherit;
  color: var(--disable-color);
  background-color: var(--active-color-second);
}

.modalContainer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 30px;
}

.modalImage p,
.modalGameInfo p {
  padding: 10px 5px;
  font-size: 1.3rem;
  font-weight: 400;
}

.modalImage {
  width: 200px;
  height: 300px;
  padding: 10px 15px;
}

.modalImage img {
  width: 100%;
  height: auto;
}

.modalGameInfo {
  max-width: 400px;
  padding: 10px 15px;
}

.modalCheckbox {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.modalAgeInputContainer {
  display: flex;
  justify-content: space-between;
}

.modalAgeInput {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0 10px;
  width: 30%;
  text-align: center;
  position: relative;
}

.modalAgeInput::-webkit-inner-spin-button,
.modalAgeInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  display: block;
  width: 80px;
  margin: auto;
}
