.searchBar {
  background-color: var(--dark-color-second);
  border: var(--primary-color) 1px solid;
  border-radius: 15px;
  padding: 0.8rem;
  display: block;
  margin: 0 auto;
  width: 60vw;
  color: var(--primary-color);
  max-width: 800px;
}

.searchBar:focus {
  border-radius: 15px 15px 0 0;
  border-bottom: var(--dark-color);
}

.results {
  background-color: var(--dark-color);
  z-index: 1;
  width: 60vw;
  max-width: 800px;
  padding: 0.8rem;
  margin: auto;
  color: var(--primary-color);
}
