.searchBar {
  background-color: var(--dark-color-second);
  border: var(--primary-color) 1px solid;
  border-radius: 15px;
  padding: 0.8rem;
  display: block;
  margin: 0 auto;
  width: 80vw;
  color: var(--primary-color);
  max-width: 800px;
}
