footer {
  background: #fafafa;
  padding: 0 1.5rem;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companies {
  display: flex;
  min-width: 30%;
  align-items: center;
  justify-content: space-around;
}

.companies div {
  width: 50px;
  height: 50px;
  padding: 0.1rem;
}

.companies div:hover {
  background-color: #e3e3e3;
}

.companies img {
  width: 100%;
  height: auto;
}
