/* stylelint-disable plugin/no-unsupported-browser-features */
.container {
  display: grid;
  grid-template-columns: 0.7fr 4fr;
  column-gap: 50px;
  min-height: 96vh;
  padding: var(--page-padding);
}

.selection {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.selection select {
  width: 50%;
  background: transparent;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  padding: 5px 10px;
}

.createBtn {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 200px;
}

.searchBar {
  display: inline-block;
}
